@model Wholesale.Web.Models.Dto.AdminHomePageViewModel
@{
    ViewBag.Title = "Index";
}

<!--state overview start-->
<div class="row state-overview">
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol terques">
                <i class="icon-user"></i>
            </div>
            <div class="value">
                <h1>@Model.TotalUsers</h1>
                <p>تعداد کاربران</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol red">
                <i class="icon-bar-chart"></i>

            </div>
            <div class="value">
                <h1>@Model.SellMonth.ToString("#,0")</h1>
                <p>فروش ماهانه</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol yellow">
                <i class="icon-shopping-cart"></i>
            </div>
            <div class="value">
                <h1>@Model.TotalProducts</h1>
                <p>تعداد محصولات</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol blue">
                <i class="icon-tags"></i>
            </div>
            <div class="value">
                <h1>@Model.TotalNews</h1>
                <p>تعداد اخبار</p>
            </div>
        </section>
    </div>
</div>
<!--state overview end-->
<section class="panel">

    <section class="Panel_Withe_Body row" style="margin:7px 2px 2px 0;">
        <div class="row">
            <div class="col-lg-12">
                <!--custom chart start-->
                <div class="border-head">
                    <h3>پرفروش ترین دسته بندی ها</h3>
                </div>
                <div class="custom-bar-chart">
                    @foreach (var item in Model.Charts)
                    {
                        <div class="bar bar-@item.Id">
                            <div class="title">@item.Name</div>
                            <div class="value tooltips" data-original-title="@(item.FinalPrice.ToString())%" data-toggle="tooltip" data-placement="top">@item.FinalPrice%</div>
                        </div>
                    }
                </div>
                <!--custom chart end-->
            </div>
        </div>
    </section>
</section>