@model DataLayer.Store

<table border="0" align="center" class="table table-condensed table-hover">
    <tr>
        <td>
            نام فروشگاه
        </td>
        <td>
            @Model.ShopName
        </td>
    </tr>
    <tr>
        <td>
            نام مدیر فروشگاه :
        </td>
        <td>
            @Model.User.Name
        </td>
    </tr>
    <tr>
        <td>
            نام خانوادگی مدیر فروشگاه :
        </td>
        <td>
            @Model.User.Family
        </td>
    </tr>
    <tr>
        <td>
            شماره مدیر فروشگاه
        </td>
        <td>
            @Model.Mobile
        </td>
    </tr>
    <tr>
        <td>
            شماره ثابت فروشگاه :
        </td>
        <td>
            @Model.StorePhone
        </td>
    </tr>
    <tr>
        <td>
            شماره ثبت فروشگاه :
        </td>
        <td>
            @Model.BusinessNumber

        </td>
    </tr>
    <tr>
        <td>
            آدرس فروشگاه :

        </td>
        <td>
            @Model.MainStreet , @Model.SubSteet , @Model.Plaque
        </td>
    </tr>
    <tr>
        <td>
            کد پستی فروشگاه :
        </td>
        <td>
            @Model.PostalCode
        </td>
    </tr>
    <tr>
        <td>
            لوگو فروشگاه :
        </td>
        <td>
            @if (Model.Logo != null)
            {
                <img src="/www/Image/Uploade/StoreLogo/@Model.Logo" style="width:200px" class="img-fluid d-block mx-auto" />
            }
            else
            {
                <p>لوگو ندارد</p>
            }
        </td>
    </tr>
</table>
