@model List<PlatPhone.DataLayer.InvoiceHeader>
@{
    int i = 1;
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <section class="Panel_Withe_Body row" style="margin:7px 2px 2px 0;">
                <br />
                <table class="table table-condensed table-hover" style="border-radius: 0 0 10px 10px">
                    <tr>
                        <td class="font-weight-bold">#</td>
                        <td>کد فاکتور</td>

                        <td>نام مشتری</td>
                        <td>وضعیت</td>
                        <td>نام فروشگاه</td>

                        <td>جزئیات</td>
                        <td>تسویه</td>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr class="@(item.Checkout == PlatPhone.DataLayer.Enum.Checkout.ok?"success":"")">

                            <td>@i</td>
                            <td>@item.FactorCode </td>


                            <td>@item.User.Name @item.User.Family </td>
                            <td>
                                <span class="badge bg-@(item.RequestLevel==PlatPhone.DataLayer.Enum.RequestLevel.delivered?"success":item.RequestLevel==PlatPhone.DataLayer.Enum.RequestLevel.Rejectd?"warning":item.RequestLevel==PlatPhone.DataLayer.Enum.RequestLevel.Sending?"info":"important")">
                                    @PlatPhone.Extention.EnumExtention.GetDescription(item.RequestLevel)
                                </span>
                            </td>

                            <td>پلتفون</td>

                            <td>
                                <a onclick="DetailReportSal(@item.Id)" class="btn btn-warning  btn-xs" data-toggle="modal" data-target="#BasicModal"><i class="icon-eye-open"></i></a>
                            </td>

                            <td>                                
                               <button  onclick="Checkout(@item.Id)" class="btn btn-xs btn-block btn-primary @(item.Checkout == PlatPhone.DataLayer.Enum.Checkout.ok?"success":"danger")">@(item.Checkout == PlatPhone.DataLayer.Enum.Checkout.ok ? "تسویه شده" : "عدم تسویه ") </button>      
                            </td>

                        </tr>
                        i = i + 1;
                    }

                </table>
            </section>
        </section>
    </div>
</div>