@model Tuple<PlatPhone.DataLayer.Product, List<PlatPhone.DataLayer.Category>>

@section Scripts{
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">
        $(function () {
            $("#file").change(function () {
                $("#dvPreview").html("");
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                if (regex.test($(this).val().toLowerCase())) {
                    if ($.browser.msie && parseFloat(jQuery.browser.version) <= 9.0) {
                        $("#dvPreview").show();
                        $("#dvPreview")[0].filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = $(this).val();
                    }
                    else {
                        if (typeof (FileReader) != "undefined") {
                            $("#dvPreview").show();
                            $("#dvPreview").append("<img />");
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                $("#dvPreview img").attr("src", e.target.result);
                            }
                            reader.readAsDataURL($(this)[0].files[0]);
                        } else {
                            alert("This browser does not support FileReader.");
                        }
                    }
                } else {
                    alert("Please upload a valid image file.");
                }
            });
        });
    </script>
}

@section Header{
    <style type="text/css">
        #dvPreview {
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
            min-height: 400px;
            min-width: 400px;
            /*display: none;*/
            border: dashed;
            margin-left: 10%;
        }
    </style>
}

<!-- page start-->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                نمایش محصول
            </header>
            <div class="panel-body">             
                <form class="form-horizontal" id="default">

                    <input id="Id" name="Id" type="hidden" value="@Model.Item1.Id">
                    <input id="ImageUrl" name="ImageUrl" type="hidden" value="@Model.Item1.ImageUrl">

                    <fieldset title="مرحله اول" class="step" id="default-step-0">
                        <legend></legend>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">نام محصول</label>
                            <div class="col-lg-10">
                                <input name="Name" disabled="disabled" id="Name" type="text" class="form-control" placeholder="نام کامل محصول" value="@Model.Item1.Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">کلمات کلیدی</label>
                            <div class="col-lg-10">
                                <input name="Keyword" disabled="disabled" id="Keyword" type="text" class="form-control" placeholder="کلمات کلیدی" value="@Model.Item1.Keyword">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">دسته بندی</label>
                            <div class="col-lg-4">
                                <select id="CategoryId" disabled="disabled" name="CategoryId" class="form-control m-bot15">
                                    @foreach (var item in Model.Item2)
                                    {
                                        if (item.Parent == 0)
                                        {
                                            int idParent = item.Id;

                                            <optgroup label="@item.Name">
                                                @foreach (var item2 in Model.Item2)
                                                {
                                                    if (item2.Parent == idParent)
                                                    {
                                                        <option value="@item2.Id">@item2.Name</option>
                                                    }
                                                }
                                            </optgroup>
                                        }
                                    }
                                </select>

                            </div>
                            <label class="col-lg-2 control-label">تخفیف</label>
                            <div class="col-lg-4">
                                <input id="DisCount" name="DisCount" type="number" min="0" max="100" class="form-control" placeholder="تخفیف" value="@Model.Item1.Discount">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-lg-2 control-label">قیمت</label>
                            <div class="col-lg-4">
                                <input id="Price" name="Price" type="text" class="form-control" placeholder="قیمت محصول" value="@Model.Item1.Price">
                            </div>
                            <label class="col-lg-2 control-label">تعداد موجود در انبار</label>
                            <div class="col-lg-4">
                                <input id="Inventory" disabled="disabled" name="Inventory" type="text" class="form-control" placeholder="تعداد موجود در انبار" value="@Model.Item1.Inventory">
                            </div>
                        </div>

                    </fieldset>

                    <fieldset title="مرحله نهایی" class="step" id="default-step-2">
                        <legend></legend>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">توضیحات</label>
                            <div class="col-lg-10">
                                <textarea disabled="disabled" id="Description" name="Description" class="form-control" cols="60" rows="6">@Model.Item1.Description</textarea>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group">
                        <label class="col-lg-2 control-label"> عکس محصول</label>
                        <div class="col-lg-10">
                            <img src="@("/Image/Uploade/ProductImage/"+Model.Item1.ImageUrl)" style="width:200px" alt="عکس محصول پیدا نشد" />
                        </div>
                    </div>
                    <input type="button" onclick="UpdatePrice()" style="float:left" class=" btn btn-danger" value="تایید" />
                </form>
            </div>
        </section>
    </div>
</div>
<!-- page end-->

<script>

    $(function () {
        $('#default').stepy({
            backLabel: 'قبلی',
            block: true,
            nextLabel: 'بعدی',
            titleClick: true,
            titleTarget: '.stepy-tab'
        });
    });
</script>
















